$primary: #d0ab29
$primary-light: #f0cf5a
$black: #303030
$black-light: #494949
$gray-light: #fafafa
$info: #5abaf0
$success: #5af072
$error: #f05a5a
$warning: #f0ab5a

*
  box-sizing: border-box
  font-family: "Inter", sans-serif
  outline: none
  margin: 0
  padding: 0
  font-size: 14px

body
  background: $black
  color: $gray-light
  position: relative

html
  scroll-behavior: smooth
  
button
  border: none
  padding: 5px 10px
  border-radius: 5px
  font-weight: 500
  text-decoration: none
  font-size: 0.9rem
  cursor: pointer
  &:disabled
    cursor: not-allowed !important
    background: lighten($black, 5)
    color: lighten($black, 10)
    opacity: 0.5
  
.extLink
  color: $primary-light
  font-weight: 500
  text-decoration: none
  transition: 0.2s color ease-in-out
  position: relative
  &::after
    content: ""
    height: 3px
    width: 0
    position: absolute
    bottom: -5px
    left: 0
    background: $primary-light
    transition: 0.2s width ease-in-out

  &:hover
    color: $gray-light
    &::after
      width: 50%

@mixin timelineBulb($top)
  content: ""
  position: absolute
  border-radius: 100%
  width: 20px
  height: 20px
  left: calc(40px - 20px / 2 - 1.5px)
  top: $top
  clip-path: circle(50.0% at 50% 50%)
  background: $black
  border: 3px solid $gray-light
  @media (max-width: 582px)
    left: calc(30px - 20px / 2 - 1.5px)
  @media (max-width: 464px)
    width: 10px
    height: 10px
    border: 2px solid $gray-light
    left: calc(20px - 10px / 2 - 1px)